{% extends 'base.html' %}
{% block seo_title %}Оформление заказа{% endblock %}
{% block seo_description %}Оформление заказа{% endblock %}

{% block content %}
		<!-- BREADCRUMB -->
		<div id="breadcrumb" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<h3 class="breadcrumb-header">Заказ</h3>
						<ul class="breadcrumb-tree">
							<li><a href="{% url 'home_url' %}">Главная</a></li>
							<li class="active">Оформление заказа</li>
						</ul>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /BREADCRUMB -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
                <form method="post" action="{% url 'get_checkout_url' %}">
				<div class="row">

					<div class="col-md-7">
                        <div class="section-title">
                            <h3 class="title">Заполните форму</h3>
                        </div>

                            {% csrf_token %}
                            {% for field in checkout_form %}
                                <div class="form-group">
                                    <!-- {{ field.label_tag }}--> {{ field.error_messages }}<br/>
                                    {{ field }}
                                </div>
                            {% endfor %}


					</div>

					<!-- Order Details -->
					<div class="col-md-5 order-details">
						<div class="section-title text-center">
							<h3 class="title">Ваш заказ</h3>
						</div>
						<div class="order-summary">
							<div class="order-col">
								<div><strong>Товар</strong></div>
								<div><strong>Цена</strong></div>
							</div>
							<div class="order-products">
                                {% for item in cart.items.all %}
                                    <div class="order-col">
                                        <div>{{ item.quantity }}x {{ item.product.title }}</div>
                                        <div>{{ item.price }} руб.</div>
                                    </div>
                                {% endfor %}
							</div>
							<div class="order-col">
								<div><strong>Итого</strong></div>
								<div><strong class="order-total">{{ cart.cart_total }} руб.</strong></div>
							</div>
						</div>
                        <input type="submit" class="primary-btn order-submit" value="Заказать!">
					</div>
					<!-- /Order Details -->
				</div>
				<!-- /row -->
                </form>
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

{% endblock %}